In [1]:
import pandas as pd
import numpy as np

In [2]:
air = pd.read_csv("C:/Users/admin/airquality_simple.csv")
air.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41    190.0   7.4    67      5    1
1     36    118.0   8.0    72      5    2
2     12    149.0  12.6    74      5    3
3     18    313.0  11.5    62      5    4
4     19      NaN  14.3    56      5    5